PATENTE_API_BASE_URL=https://api.patente.ar/v1/consultas
PATENTE_API_KEY=pa_live_replace_me
PATENTE_IDEMPOTENCY_KEY=vtv-demo-001
PATENTE_X_TOKEN=orden-externa-001
PATENTE_WEBHOOK_SECRET=whsec_replace_me
